{% extends 'RofilRepoContentBundle:Theme:one-column.html.twig' %}

{% block content -%}
    <h2>Tambah Project</h2>
	<hr>
				<div class="row">
    <div class="col-md-6">
        <a href="{{ path('project') }}" class="btn btn-info">Kembali Kedaftar</a>
    </div>
    <div class="col-md-6 text-right">
                                            </div>
</div>


	<hr>

    {{ form(form) }}

    
{% endblock %}
