{% extends 'RofilTemplateRofilBundle:Theme:master.html.twig' %}

{% block header %}
    <h1>Repository</h1>
{% endblock %}

{% block navigation %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {# <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li> #}
          </ul>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
              <div class="btn-group navbar-btn navbar-right">
                <a href="{{ path("project") }}" class="btn btn-primary">Project</a>
                <a href="{{ path("logout") }}" class="btn btn-warning">Logout</a>
              </div>  

            {% else %}
              <a class="btn btn-danger navbar-btn navbar-right" href="/login" >Login</a>
            {% endif %}
          <ul class="nav navbar-nav navbar-right">
            
              
              
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
{% endblock %}


{% block layout %}
	{% block content %}
	    
	{% endblock %}    
{% endblock %}
